@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --lightRed:hsl(0, 100%, 67%);
    --orangeyYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
    --lightSlateBlue: hsl(252, 100%, 67%);
    --lightRoyalBlue: hsl(241, 81%, 54%);
    --violetBlue:hsla(256, 72%, 46%, 1);
    --persianBlue:hsl(241, 72%, 46%);
    --paleBlue:hsl(221, 100%, 96%);
    --lightLavender:  hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);
    --lightPeriwinkle: hsla(241, 100%, 89%, 0.5);
    --white:hsl(0, 0%, 100%);
    --bisque:hsl(33, 100%, 88%);
    --lightTransparentRed: hsla(0, 100%, 67%,0.1);
    --lightTransparentYellow : hsla(39, 100%, 56%,0.1);
    --lightTransparentGreen: hsla(166, 100%, 37%,0.1);
    --lightTransparentCobalt: hsla(234, 85%, 45%,0.1);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

p{
    font-size: 18;
}

body {
    background-color: var(--paleBlue);
    overflow: hidden;
}

.container{
    max-width:1920px;
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}


.result-card {
    background: linear-gradient(var(--lightSlateBlue),var(--lightRoyalBlue));
    padding:15px;
    text-align: center;
    border-radius:20px;
    width: 275px;
}

.text-copy{
    color:var(--lightLavender);
    font-weight: bold;
}

.circle{
    background: linear-gradient(var(--violetBlue),var(--persianBlue));
    border-radius: 50%;
    padding: 15px;
    width:150px;
    height:150px;
    margin:auto;
}

h1{
    font-size: 55px;
    font-weight:800;
    color: var(--white);
    margin-bottom: -20px;
}

.totalItems{
    color:var(--lightPeriwinkle);
}

.remarks{
    color:var(--white);
    font-size: 30px;
    margin-bottom: -5px;
    font-weight: bold;
}

.eval{
    padding: 0px 25px;
}

.summary {
    width: 100%;
    max-width: 250px;
    background-color: var(--white);
    border-radius: 0 20px 20px 0;
    padding: 15px 34px 15px 70px;
    position:relative;
    left: -40px;
    z-index: -1;
    height: 418px;
}

.sumhdg,span{
    color: var(--darkGrayBlue);
}

.category{
    display: flex;
    background-color: var(--bisque);
    border-radius: 10px;
    margin-bottom:7px;

}

img{
    padding:5px 10px 5px 10px;
}

.score{
    margin-left: auto;
    padding-right:10px;
    color:gray;
    font-weight:bolder;
}

button{
    font-size: 15px;
    color:var(--white);
    background-color: var(--darkGrayBlue);
    margin-top: 17px;
    width:250px;
    height:50px;
    border-radius: 30px;
    border:0;
    margin-bottom: 30px;;

}

.red{
    color:var(--lightRed);
    background-color: var(--lightTransparentRed);
}

.yellow{
    color:var(--orangeyYellow);
    background-color: var(--lightTransparentYellow);
}

.green{
    color:var(--greenTeal);
    background-color: var(--lightTransparentGreen);
}

.cobalt-blue{
    color:var(--cobaltBlue);
    background-color: var(--lightTransparentCobalt);
}

button:hover{
    background-color: var(--violetBlue);
}

@media(max-width: 700px) {
    .container {
        flex-direction:column;
        overflow: scroll;
        justify-content: flex-start;
    }

    .summary {
        width: 100%;
        max-width: 307px;
        background-color: var(--white);
        border-radius: 0 0px 20px 20px;
        padding: 0;
        position:relative;
        z-index: -1;
        height: 453px;
        top: -25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left:0px;
    }

    .result-card {
        background: linear-gradient(var(--lightSlateBlue),var(--lightRoyalBlue));
        padding:15px;
        text-align: center;
        border-radius:20px;
        width: 100%;
        max-width: 275px;
    }

    .category {
        display: flex;
        border-radius: 10px;
        margin-bottom:7px;
        width: 100%;
        max-width: 275px;
    }

    .sumhdg,span {
        color: var(--darkGrayBlue);
        margin-top: 45px;
    }

    img {
        padding:5px 10px 5px 10px;
        width: 30px;
    }
}
